.aboutMe{
    max-width:7rem;
}
.goalsTop{
    max-width: 10rem;
}
.goalsBottom{
    max-width:8rem
}
.works{
    max-width:10rem;
}
@media screen and (max-width: 420px) {
    .aboutMe{
        display:none;
    }
    .goalsTop{
        display: none;
    }
    .goalsBottom{
       display: none;
    }
    .works{
        display: none;
    }
  }