.basePage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
}
.welcomeText{
    position: absolute;
    font-size:50px;
    font-weight: bolder;
    text-align: center;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #ffffff;
    color: white;
    padding: 10px 20px;
    text-shadow: 1px 1px 10px #00000033;
    box-shadow: 0 2px 10px #b404ff;
}
.wtAnimation{
    animation-name: wcTextAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes wcTextAnimation{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.navbar{
    background-color: transparent;
    box-shadow: 0 2px 100px indigo;
}
.icon:hover{
    animation-name: iconAnimation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes iconAnimation{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.onLoadScreen{
    width: 100vw;
    height: 100vh;
}
.midTri{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0176be;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.rightTri{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d34328;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%);
}
.leftTri{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d34328;
    clip-path: polygon(50% 0%, 0 100%, 0 0);
}
.lrTriAnimation{
    animation-name: triMoveTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.mTriAnimation{
    animation-name: triMoveBottom;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes triMoveTop{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-1000px);
    }
}

@keyframes triMoveBottom{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(1000px);
    }
}

.headerTxt{
    background-color: #0176be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 0 2px 50px #b404ff;
    font-size: 30px;
    color: #ffffff;
    z-index: 100;
}
.headerOutLine{
    padding:10px 5px;
    margin: 0 3rem;
    box-shadow: -2px 2px 100px #0000001a, 10px -12px 100px #0000001a;
    border-radius: 20px;
}
.headerImg{
    width:200px;
    height:auto;
    display: block;
    margin: 0 auto;
}
.name{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
}
.homeFont{
    display: flex;
}
.homeScreen{
    min-height: calc( 100vh - 65px);
}
.btnGroup{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
li{
    cursor: pointer;
}
.listItemStyle{
    list-style: none;
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 30px;
    border: 2px solid transparent;
}
.listItemDefault{
    background-color: #d343284d;
    color: #ffffff;

}
.listItemStyle:hover{
    background-color: #d34328;
    box-shadow: -2px 2px 10px #d34328,2px -2px 10px #d34328;
    border: 2px solid #b404ff;
    color: #ffffff;
}
.listItemActive{
    
    background-color: #0176be;
    box-shadow: -2px 2px 10px #d34328,2px -2px 10px #d34328;
    border: 2px solid #b404ff;
    color: white;
}
.homeRightCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeDefaultIMG{
    width:90%;
    padding: 1rem;
}
.rightColContent {display:none;}
.rightColContent.active {
    display: unset;
    margin-right:3rem;
    width:90%;
    padding:20px 30px;
    border-radius: 5px;
    border: 10px solid #d34328;
    line-height: 3rem;
    font-size: 25px;
    color:#ffffff;
}
.workTitle{
    display: block;
    border-radius: 10px;
    padding: 0 10px;
    background: linear-gradient(45deg, #d34328, #0176be);
}